name: Build Flutter APK
on:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: subosito/flutter-action@v2
      with:
        channel: 'stable'
    - run: flutter pub get
      working-directory: ./app_content
    
    # هذا هو السطر الجديد لتحديث ملفات الأندرويد القديمة
    - run: flutter create .
      working-directory: ./app_content
      
    - run: flutter build apk --release
      working-directory: ./app_content
    - uses: actions/upload-artifact@v4
      with:
        name: app-release-apk
        path: app_content/build/app/outputs/flutter-apk/app-release.apk
